/* 全体のスタイルをリセット */
/* Noto sansフォント用 */
/* Noto sansフォント用 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
html{
  font-size: 12px;
  font-family:"Noto Sans JP",'Noto sans','Hiragino Kaku Gothic ProN','游明朝','Yu Mincho','YuMincho',serif;
  color: #26A9D7;
  /* background-color: #dfdfdf; */
}


*{  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font: 1vw; /*HTMLタグで適用した文字サイズクを基準とした比率で文字サイズを設定する。この場合、1rem=14px*/
  line-height: 1.8; /*行間指定*/
  letter-spacing: 0.08em;/*字間指定*/
  /* background-color: #fff; */
  background-size: 100% auto,auto ;
}
main{
  align-items:center ;
 /* width: 1000px;*/
  margin: 0 auto;/*コンテンツ部分を真ん中に持ってくるための指定。widthを指定した上で、margin:0 auto を指定する。bodyには指定しない。意味ないから*/

}

img {vertical-align: bottom; /*画像の上下方向の隙間を無くすために指定*/
  width: 100%;
  height: auto;
}

li{
list-style:none; /*箇条書きのマーカー（黒っぽち）を消す*/
}

ul{
margin: 0;
padding: 0;
}

div{
  display: block;
}

/*↑↑ここまで固定↑↑*/
/* 画面幅固定 */
html{
	height: 100%;
}
body
{
	position: relative;
	overflow-x: hidden;
	max-width: 100%;
	min-width: 390px;
	min-height: 100%;
	margin: 0 auto;
}
@media screen and (min-width: 600px) {
	body, .shutter
	{
		width: 500px;
	}
}

.en-font
{
	font-family:"Helvetica Neue", Helvetica, sans-serif, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans";
}


/* 矢印 */
.bk
{
	position: absolute;
    height: 3100px;
	left: 0;
    right: 0;
	z-index: -10;
}

#anim_img_box {
    position: sticky;
	width: 390px;
    top: 0;
    justify-content: center;
    align-items: center;
    /* background-color: #fff; */
	margin: 0 auto;
}

.ainm_img
{
	/* position: absolute; */
    width: 390px;
    top: 20px;
    margin: auto;
    z-index: -10;
}

#anim_img_box-fin
{
	position: sticky;
	width: 390px;
	top: 0;
	justify-content: center;
	align-items: center;
	/* background-color: #fff; */
	margin: 0 auto;
	height: 3100px;
}

.ainm_img-fin
{
	top: -200px;
}

.contents
{
	position: sticky;
    top: 0;
	/* padding-top: 200px; */
}


/*オープニングアニメーション*/
.shutter video
{
	width: 100%;
	height: 100%;
	min-width: 390px;
}
.shutter-video
{
	width: 100%;
	height: 100%;
	min-width: 390px;
}
.shutter{
	text-align: center;
	max-width: 550px;
	height: 100%;
    width: auto;
	position:fixed;
	top:0;
	left:0;
	right:0;
	margin: auto;
	z-index:999;
	background-color: #fff;
	-webkit-animation: byeShutter 6.5s forwards;
	animation: byeShutter 6.5s forwards;
  }
  @keyframes byeShutter {
	70% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	  display: none;
	  z-index: -5;
	}
  }

  /* fadeUp */

.ask .fadeUp {
	animation-name:rightAnime;
	animation-duration:0.6s;
	animation-fill-mode:forwards;
	opacity:0;
}

@keyframes rightAnime{
	from {
	opacity: 0;
	transform: scale(0.5) translateX(-50px);
	}

	to {
	opacity: 1;
	transform: scale(1) translateX(0px);
	}
}

.access .fadeUp {
	animation-name:leftAnime;
	animation-duration:0.6s;
	animation-fill-mode:forwards;
	opacity:0;
}

@keyframes leftAnime{
	from {
	opacity: 0;
	transform: scale(0.5) translateX(50px);
	}

	to {
	opacity: 1;
	transform: scale(1) translateX(0px);
	}
}

.about .fadeUp, .thema .fadeUp, .event .fadeUp
{
	animation-name:fadeUpAnime;
	animation-duration:0.8s;
	animation-fill-mode:forwards;
	opacity:0;
	}

	@keyframes fadeUpAnime{
	  from {
		opacity: 0;
	  }

	  to {
		opacity: 1;
	  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger{
	opacity: 0;
}

/* ローディング */
#loading {
	-webkit-animation: byeShutter 3.8s forwards;
	animation: byeShutter 3.8s forwards;
	    height: 100%;
    width: auto;
  }

@keyframes byeShutter {
70% {
	opacity: 1;
}
100% {
	opacity: 0;
	display: none;
	z-index: -5;
}
}

/* ヘッダー */
.header {
	width: 100px;
	height: 60px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
  }

  .header__inner {
	padding-right: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: inherit;
	position: relative;
  }

  /* ヘッダーのナビ部分 */

  .header__nav {
	position: absolute;
	right: 0;
	/* left: 0; */
	top: 0;
	width: 180px;
	height: 100vh;
	transform: translateX(100%);
	transition: ease .4s;
	display: flex;
  }



  @media screen and (min-width: 800px) {
	.header__nav {
	  transform: initial;
	  background-color: inherit;
	  height: inherit;
	}
  }

  .nav__items {
	margin: 80px 20px auto auto;
  }



  .nav-items__item {
	cursor: pointer;
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;

  }


  /* ナビのリンク */
  .nav-items__item a {
	text-decoration: none;
	color: #26A9D7;
	width: 100%;
	display: block;
	text-align: right;
	font-size: 18px;
	margin-bottom: 24px;
  }
  .nav-items__item a:hover {
	text-decoration: underline;
}


  .nav-items__item:last-child a {
	margin-bottom: 0;
  }


  /* ハンバーガーメニュー */
  .header__hamburger {
	width: 40px;
	height: 100%;
  }

  .hamburger {
	background-color: transparent;
	border-color: transparent;
	z-index: 9999;
	cursor: pointer;
  }
  @media screen and (min-width: 800px) {
	.header__hamburger {
		display: none;
	  }

  }

  /* ハンバーガーメニューの線 */
  .hamburger span {
	width: 100%;
	height: 3px;
	background-color: #26A9D7;
	position: relative;
	transition: ease .4s;
	display: block;
  }

  .hamburger span:nth-child(1) {
	top: 0;
  }

  .hamburger span:nth-child(2) {
	margin: 4px 0;
  }


  .hamburger span:nth-child(3) {
	top: 0;
  }


  /* ハンバーガーメニュークリック後のスタイル */
  .header__nav.active {
	transform: translateX(0);
  }

  .hamburger.active span:nth-child(1) {
	top: 5px;
	transform: rotate(45deg);
  }


  .hamburger.active span:nth-child(2) {
	opacity: 0;
  }


  .hamburger.active span:nth-child(3) {
	top: -13px;
	transform: rotate(-45deg);
  }


  .container{
	text-align: center;
  }


/* フッター */
footer
{
	text-align: center;
	padding-bottom: 100px;
}
footer div{
	margin: 0 auto;
}

.tzu-logo
{
	margin-top: 52px;
	width: 250px;
	height: auto;
}

footer ul img{
	width: 33px;
	height: auto;
}

.sns_rink{
	padding-top: 50px;
	width: 170px;
	font-size: 10px;
	font-weight: 400;
	line-height: 19px;
}

.sns {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.zokei li {
	padding: 8px 0 17px 0;
	width: calc(100% * (550 / 1080)) ;

}
.oc li {
	padding-top: 8px;
	width: 79px ;
}


/* ビデオコンテナの固定スタイル */
.video-container {
	margin: 0 auto;
    z-index: -1; /* 常に前面に表示 */
}
/* .video-fix{
	position: absolute;
	top: -80px;
    overflow-x: hidden;
    width: 390px;
    margin: 0 auto;
	z-index: -1;
} */

.video-fix{
	position: fixed;
	top: 0;
    overflow-x: hidden;
    width: 100%;
    min-width: 320px;
    min-height: 100%;
    margin: 0 auto;
	z-index: -1;
}
.fix{
	position: absolute;
	top: -70px;
    overflow-x: hidden;
    width: 100%;
    min-width: 320px;
	opacity: 0.33;
	z-index: 1;
}
@media screen and (min-width: 600px) {
	.video-fix, .fix
	{
		width: 500px;
		/* height: auto;
		width: 100%; */
	}
}


/* スクロールコンテンツのスタイル */
.scroll-content {
	position: relative;
    height: 5000px; /* コンテンツの高さを3倍に設定（スクロール用） */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

/* 個々のコンテンツのスタイル */
.content
{
	position: absolute;
    margin: 20px 0;
	text-align: center;
	font-size: 50px;
}



/* コンテンツ */
.center-content
{
	text-align: center;
}

.title
{
	color: #EA0029;
	font-size: 36px;
	font-weight: 400;
	line-height: normal;
}

.sub-title
{
	color: #EA0029;
	font-size: 20px;
	font-weight: 500;
	line-height: normal;
}

.top-text
{
	font-size: 10px;
	font-weight: 500;
	line-height: 19px; /* 190% */
	letter-spacing: 1px;
	padding: 5px 0 10px 0;
}

.radius-content
{
	display: inline-block;
	padding: 8px 13px;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border-radius: 60px;
	border: 2px solid #26A9D7;
}


/* ASK 固定値（px） / 基準幅（px） * 100vw*/
.ask
{
	padding-top: 178px;
	padding-left: 158px;
}

.access
{
	padding: 104px 133px 45px 0;
}


/* abouts */
.about, .event, .thema
{
	padding-top: 140px;
	/* padding-bottom: 110px; */
}

.about .top-text, .thema .top-text
{
	font-size: 12px;
	text-align: justify;
	line-height: 21px; /* 175% */
	letter-spacing: 1.56px;
	padding: 20px 35px;
}

/* イベント */
.major-icons
{
	padding-bottom: 24px;
}
.major-icon
{
	display: flex;
	padding-top: 23px;
	margin: 0 24px;
	justify-content: center;
}
.major-icon a
{
	color: #26A9D7;
	text-decoration:none;
}
.major-icon li
{
	width: 100px;
	margin: 0 13px;
}

.major-icon_top
{
	width: 70px;
	height: auto;
	padding-bottom: 4px;
}

.major-icon_text
{
	text-align: center;
	font-size: 10px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 1px;
}

/* Thema */
.thema .sub-title
{
	color: #26A9D7;
	padding-left: 16px;
	font-size: 23px;
	line-height: normal;
	letter-spacing: -1.65px;
}
.thema-red
{
	color: #EA0029;
}

.thema .top-text
{
	letter-spacing: none;
	letter-spacing: 1.2px;
}

/* メインビジュ*/

.mainvisual
{
	height: 700px;
}
.mainvisual .top-mv{
	margin-top: 20px;
	width: 100%;
	height: auto;
	z-index: 100;

  }


  /* 子ページ */
.ko-svg-1
{
	margin-bottom: 92px;
}
.ko
{
	padding: 0 34px;
}

.ko-sub-title
{
	font-size: 15px;
	line-height: 21px; /* 140% */
	letter-spacing: 1.5px;
	padding-bottom: 10px;
}
.ko-text
{
	font-weight: 500;
	line-height: 21px; /* 175% */
	letter-spacing: 1.2px;
	text-align: justify;
}
.ko-enn
{
	display: flex;
	justify-content: center;
	padding: 20px 0px;
}
.ko-enn_inner
{
	margin: 0 20px;
	display: flex;
	flex-direction: column;
    justify-content: center;
	width: 115px;
    height: 115px;
	background-image:url(images/ko-enn.svg);
	background-size: 115px 115px;
	background-repeat: no-repeat;

}
.ko-enn__date
{
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px; /* 175% */
	letter-spacing: 1.2px;
}
.ko-enn__time
{
	color: #EA0029;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 21px; /* 140% */
	letter-spacing: 0.75px;
}
.ko-place
{
	display: inherit;
	margin: 0 auto;
	background-color: #26A9D7;
	margin-bottom: 20px;
	color: #FFF;
	font-size: 12px;
	font-weight: 500;
	line-height: 21px; /* 175% */
	letter-spacing: 1.2px;
	max-width: 300px;
}

.ko-title
{
	color: #EA0029;
	padding: 8px 18px;
	font-size: 23px;
	font-weight: 500;
	line-height: normal;
	border: 3px solid #26A9D7;
	letter-spacing: -0.2px;
	line-height: 27px;
}

.ko-space_inner
{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.ko-space_text
{
	padding-top: 45px;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 21px; /* 175% */
	letter-spacing: 1.56px;
}
.ko-space .ko-svg-1
{
	margin-top: 100px;
	margin-bottom: 0;
}
.ko-svg-2
{
	margin-top: 45px;
}
.ko-svg-2, .ko-svg-3, .ko-svg-4
{
	margin-bottom: 16px;
}

.ko-svg-5
{
	margin: 56px 0 100px 0;
}

/* 子ページ個別接点 */
.all-day
{
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 21px; /* 140% */
	letter-spacing: 1.5px;
}
.no-plan
{
	color: #A5A5A5;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 21px; /* 175% */
	letter-spacing: 1.56px;
}
.ko-title_long
{
	margin: 0 auto;
	font-size: 20px;
	letter-spacing: -0.4px;
	width: 333px;
	padding: 8px 0;
}
.place-flex
{
	display: inline-flex;
    text-align: justify;
    align-items: center;
	max-width: 270px;
	letter-spacing: 1.56px;
}
.place
{
	padding-right: 13px;
}
.gd-4 .ko-sub-title
{
	font-size: 12px;
	letter-spacing: 1.2px;
}

.film-1 .ko-sub-title
{
	font-size: 14px;
}

.film-1 .ko-sub-title , .film-4 .ko-sub-title ,.ani-1 .ko-sub-title
{
	letter-spacing: 0.75px;
}

.md-1 .ko-text, .ia-4 .ko-text, .ia-5 .ko-text, .sc-1 .ko-text, .sc-3 .ko-text, .sc-6 .ko-text
{
	text-align: center;
}

.ia-1 span
{
	color: #EA0029;
}

/* 子ページアイコン */
.ko-load
{
	padding: 80px 0 245px 0;
	text-align: center;
}

.ko-load img
{
	width: 165px;
	height: auto;
}


.image-container img {
	width: 70px;
    height: 74px;
}
