body,
html,
* {
    margin: 0;
    padding: 0;
}

.video-section {
    height: 250vh;
}

.text-section {
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: #fafafa;
    text-align: center;
    line-height: 1.5;
}

body
{
	height: 10000px;
}
.video_mv
{
	position: fixed;
}

/* .intro, pre {
	max-width: 600px;
	margin: 0 auto;
  }

  h1, h3, p {
	font-family: 'Helvetica Neue', Helvetica, Arial;
	text-align: center;
  }

  h1 {
	font-weight: 300;
	font-size: 3em;
  }
  h3 {
	font-weight: 100;
	letter-spacing: 1px;
  }

  body {
	  margin: 0;
  } */
