/* 全体のスタイルをリセット */
/* Noto sansフォント用 */
/* Noto sansフォント用 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
html{
  font-size: 16px;
  font-family:"Noto Sans JP",'Noto sans','Hiragino Kaku Gothic ProN','游明朝','Yu Mincho','YuMincho',serif;
  color: #0080BB;

}


*{  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font: 1vw; /*HTMLタグで適用した文字サイズクを基準とした比率で文字サイズを設定する。この場合、1rem=14px*/
  line-height: 1.8; /*行間指定*/
  letter-spacing: 0.08em;/*字間指定*/
  background-color: #dfdfdf;
  background-size: 100% auto,auto ;
}
main{
  align-items:center ;
 /* width: 1000px;*/
  margin: 0 auto;/*コンテンツ部分を真ん中に持ってくるための指定。widthを指定した上で、margin:0 auto を指定する。bodyには指定しない。意味ないから*/

}

img {vertical-align: bottom; /*画像の上下方向の隙間を無くすために指定*/
  width: 100%;
  height: auto;
}

li{
list-style:none; /*箇条書きのマーカー（黒っぽち）を消す*/
}

ul{
margin: 0;
padding: 0;
}

div{
  display: block;
}

/*↑↑ここまで固定↑↑*/
/* 画面幅固定 */
html{
	height: 100%;
}
body
{
	position: relative;
	overflow-x: hidden;
	max-width: 100%;
	min-width: 320px;
	min-height: 100%;
	margin: 0 auto;
}
@media screen and (min-width: 600px) {
	body
	{
		width: 500px;
	}
}

/* スクロールコンテンツのスタイル */
.scroll-content {
	position: relative;
    height: 5000px; /* コンテンツの高さを3倍に設定（スクロール用） */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

/* 個々のコンテンツのスタイル */
.content
{
	position: absolute;
    margin: 20px 0;
	text-align: center;
	font-size: 50px;
}

.content1
{
	top:15%;
}
.content2
{
	top:22%;
}
.content3
{
	top:59%;
}
.content4
{
	top:78%;
}

.content5
{
	top:100%;
}

/* ビデオコンテナの固定スタイル */
.video-container {
	margin: 0 auto;
    z-index: -1; /* 常に前面に表示 */
}

video {
	position: fixed;
	bottom: 0;
    overflow-x: hidden;
    width: 100%;
    min-width: 320px;
    min-height: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 600px) {
	video
	{
		max-width: 500px;
		height: auto;
		width: 100%;
	}

}

.margin-test
{
	height: 7000px;
}
