
.content {
    width: 100%;
}

.content .padding {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.padding
{
	background-color: #0080BB;
}
#anim_img_box {
    /* position: sticky; */
	width: 390px;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.ainm_img
{
	position: absolute;
    width: 390px;
    top: -150px;
    left: 0;
    z-index: -10;
}

.mumu
{
	position: sticky;
    top: 0;
	/* padding-top: 200px; */
}

/* フッター */
footer
{
	text-align: center;
	padding-bottom: 100px;
}
footer div{
	margin: 0 auto;
}

.tzu-logo
{
	margin-top: 52px;
	width: 250px;
	height: auto;
}

footer ul img{
	width: 33px;
	height: auto;
}

.sns_rink{
	padding-top: 50px;
	width: 170px;
	font-size: 10px;
	font-weight: 400;
	line-height: 19px;
}

.sns {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.zokei li {
	padding: 8px 0 17px 0;
	width: calc(100% * (550 / 1080)) ;

}
.oc li {
	padding-top: 8px;
	width: 79px ;
}


/* ビデオコンテナの固定スタイル */
.video-container {
	margin: 0 auto;
    z-index: -1; /* 常に前面に表示 */
}
/* .video-fix{
	position: absolute;
	top: -80px;
    overflow-x: hidden;
    width: 390px;
    margin: 0 auto;
	z-index: -1;
} */

.video-fix{
	position: fixed;
	top: 0;
    overflow-x: hidden;
    width: 100%;
    min-width: 320px;
    min-height: 100%;
    margin: 0 auto;
	z-index: -1;
}
.fix{
	position: absolute;
	top: -70px;
    overflow-x: hidden;
    width: 100%;
    min-width: 320px;
	opacity: 0.33;
	z-index: 1;
}
@media screen and (min-width: 600px) {
	.video-fix, .fix
	{
		width: 500px;
		/* height: auto;
		width: 100%; */
	}
}


/* スクロールコンテンツのスタイル */
.scroll-content {
	position: relative;
    height: 5000px; /* コンテンツの高さを3倍に設定（スクロール用） */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

/* 個々のコンテンツのスタイル */
.content
{
	position: absolute;
    margin: 20px 0;
	text-align: center;
	font-size: 50px;
}



/* コンテンツ */
.center-content
{
	text-align: center;
}

.title
{
	color: #EA0029;
	font-size: 36px;
	font-weight: 400;
	line-height: normal;
}

.sub-title
{
	color: #EA0029;
	font-size: 20px;
	font-weight: 500;
	line-height: normal;
}

.top-text
{
	font-size: 10px;
	font-weight: 500;
	line-height: 19px; /* 190% */
	letter-spacing: 1px;
	padding: 5px 0 10px 0;
}

.radius-content
{
	display: inline-block;
	padding: 8px 13px;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border-radius: 60px;
	border: 2px solid #0080BB;
}


/* ASK 固定値（px） / 基準幅（px） * 100vw*/
.ask
{
	padding-top: 178px;
	padding-left: 158px;
}

.access
{
	padding: 104px 0;
	padding-right:133px;
}


/* abouts */
.about, .event, .thema
{
	padding-top: 115px;
	padding-bottom: 45px;
}

.about .top-text, .thema .top-text
{
	font-size: 12px;
	text-align: justify;
	line-height: 21px; /* 175% */
	letter-spacing: 1.56px;
	padding: 20px 35px;
}

/* イベント */
.major-icons
{
	padding-bottom: 24px;
}
.major-icon
{
	display: flex;
	padding-top: 23px;
	margin: 0 24px;
	justify-content: center;
}
.major-icon a
{
	color: #0080BB;
	text-decoration:none;
}
.major-icon li
{
	width: 100px;
	margin: 0 13px;
}

.major-icon_top
{
	width: 70px;
	height: auto;
	padding-bottom: 4px;
}

.major-icon_text
{
	text-align: center;
	font-size: 10px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 1px;
}

/* Thema */
.thema .sub-title
{
	color: #0080BB;
	padding-left: 16px;
	font-size: 23px;
	line-height: normal;
	letter-spacing: -1.65px;
}
.thema-red
{
	color: #EA0029;
}

.thema .top-text
{
	letter-spacing: none;
	letter-spacing: 1.2px;
}

/* メインビジュ*/

.mainvisual
{
	height: 700px;
}
.mainvisual .top-mv{
	margin-top: 20px;
	width: 100%;
	height: auto;
	z-index: 100;

  }

